@model Product
<div class="page">
    <span class="exit" onclick="closePage()"><span class="material-symbols-outlined">close</span></span>
    <!-- Display product details here -->
    <h2>@Model.Name</h2>
    <p>@Model.Price</p>
</div>
