@model clothes_store.ViewModel.RegisterViewModel
@{
    Layout = "_loginLayout";
}

@section Register{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/additional-methods.min.js"></script>
   


    <section class="" style="background-color: #eee;margin-bottom:50px">
        <div class="container ">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-11">
                    <div class="card text-black" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                            <div class="row justify-content-center">
                                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1" >
                                    

                                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4 d-flex " >Sign up</p>

                                    <form asp-action="Register"  method="post" class="mx-1 mx-md-4">

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                            <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                                <label asp-for="UserNAme" class="form-label" for="form3Example1c">Your Name</label>
                                                <input asp-for="UserNAme" type="text" id="form3Example1c" class="form-control" />
                                                
                                                <span asp-validation-for="UserNAme" class="text-danger"></span>

                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                            <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                                <label asp-for="Email" class="form-label" for="form3Example3c">Your Email</label>
                                                <input asp-for="Email" type="email" id="form3Example3c" class="form-control" />
                                               
                                                <span asp-validation-for="Email" class="text-danger"></span>

                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                            <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                                <label asp-for="Password" class="form-label" for="form3Example4c">Password</label>
                                                <input asp-for="Password" type="password" id="form3Example4c" class="form-control" />
                                                
                                                <span asp-validation-for="Password" class="text-danger"></span>

                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                            <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                                <label asp-for="Confirmpassword" class="form-label" for="form3Example4cd">Repeat your password</label>
                                                <input asp-for="Confirmpassword" type="password" id="form3Example4cd" class="form-control" />
                                              
                                                <span asp-validation-for="Confirmpassword" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                            <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                                <label asp-for="PhoneNumber" class="form-label" for="form3Example4cd">Phone Number</label>
                                                <input asp-for="PhoneNumber" type="number" id="form3Example4cd" class="form-control" />
                                               
                                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                            <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                                <label asp-for="Address" class="form-label" for="form3Example4cd">Address</label>
                                                <input asp-for="Address" type="text" id="form3Example4cd" class="form-control" />
                                                
                                                <span asp-validation-for="Address" class="text-danger"></span>
                                            </div>
                                        </div>

                                        

                                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                            <input type="submit" value="Register" class="btn btn-primary" style="background-color:steelblue;color:white" />
                                        </div>

                                    </form>

                                </div>
                                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                    <img src="/img//gallery//draw1.webp"
                                         class="img-fluid" alt="Sample image">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

             
        <!-- Jumbotron -->


    
    
    <script>
        
        $(document).ready(function () {
            $('#sec').hide();
        });
    </script>

}





